<!-- Jawaban soal 2 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button onclick="vm.openForm()">Open Form</button>
      <h1>{{'Nilai a: ' + total }}</h1>
      <p>{{'Nilai rata-rata: ' + average}}</p>
      <p>{{'berapa kali input: ' + i}}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          a: 0,
          total: 0,
          average: 0,
          i: 0,
        },
        methods: {
          openForm: function () {
            this.a = Number(prompt("Masukan angka : "));
            this.total += this.a;
            this.i++;
            if (this.total < 10) {
              this.openForm();
            } else {
              this.average = this.total / this.i;
            }
          },
        },
      });
    </script>
  </body>
</html>
