<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <form>
        <p>
          <b>Please correct the following errors :</b>
          <ul>
            <li v-for="error in errors">{{ error }}</li>
          </ul>
        </p>
        <label> Nama </label>
        <input type="text" name="name" ref="name" v-model="name">
        <label> Adress </label>
        <input  type="text" name="address" ref="address" v-model="address">
        <label> No Hp </label>
        <input  type="text" name="no_hp" ref="no_hp" v-model="no_hp">
        
        <br>
        <div v-if="buttonStatus === 'submit'">
          <input type="submit" value="SUBMIT" @click.prevent="submitForm()">
        </div>
        <div v-else-if="buttonStatus === 'update'">
          <input type="submit" value="UPDATE" @click="updateForm(idEditform)">
          <input type="submit" value="CANCEL" @click="cancelForm()" style="margin-top: 5px">
        </div>
        <div v-else-if="buttonStatus === 'upload'">
          <input type="file" name="photo_profile" ref="photo_profile">
          <input type="button" value="SUBMIT" @click="submitPhoto(idUploadPhoto)" style="margin-top:5px; margin-bottom: 5px">
          <input type="button" value="CANCEL" @click="cancelForm()" style="margin-top: 5px">
        </div>
      </form>

      <br><br>

      <table border=1>
        <tr v-for="(form, index) in forms" :key="index">
          <td width=20>
            {{index + 1}}
          </td>
          <td>
            <img width=200 :src="form.photo_profile ? photoDomain + form.photo_profile : 'https://dummyimage.com/16:9x1080'" alt="">
          </td> 
          <td>
            <b>Nama : </b> {{form.name}} <br>
            <b>Address :</b> {{ form.address}} <br>
            <b>No Hp :</b> {{ form.no_hp}} <br>
          </td>
          <td>
            <button @click="editForm(form)">EDIT</button>
            <button v-on:click="deleteForm(form.id)">HAPUS</button>
            <button @click="uploadPhoto(form)">UPLOAD</button>
          </td>
        </tr>
      </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
      let vm = new Vue({
        el: "#app",
        data: {
          name: '',
          address:'',
          no_hp: '',
          errors: [],
          forms: [],
          photoDomain: "http://demo-api-vue.sanbercloud.com",
          buttonStatus: "submit",
          idEditform: null,
          idUploadPhoto: null
        },
        methods: {
          validationForm: function(){
             this.errors = []

             if(this.name.length < 5){
               this.errors.push("Nama minimal 5 karakter")
               this.$refs.name.focus()
             }
             if(this.address.length < 5){
               this.errors.push("address minimal 5 angka")
               this.$refs.address.focus()
             }
             if(this.no_hp.length < 5){
               this.errors.push("No HP minimal 5 angka")
               this.$refs.no_hp.focus()
             }
          },
          clearForm: function(){
            this.name ='',
            this.address ='',
            this.no_hp =''
          },
          submitForm: function(){
            this.validationForm()

            if(this.errors.length === 0){

              let formData = new FormData()
              formData.append('name', this.name)
              formData.append('address', this.address)
              formData.append('no_hp', this.no_hp)

              const config = {
                method: "post",
                url: "http://demo-api-vue.sanbercloud.com/api/member",
                data: formData
              }
              axios(config)
                .then(response => {
                  this.clearForm()
                  this.getForm()
                })
                .catch(e => console.log(e))
              
            }
          },
          getForm: function(){
            const config = {
              method: "get",
              url: "http://demo-api-vue.sanbercloud.com/api/member"
            }
            axios(config)
              .then(response => {
                this.forms = response.data.members
                // console.log(response.data.members)
              })
              .catch(e => console.log(e))
          },
          deleteForm: function(id){
            const config ={
              method: 'post',
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}?`,
              params: { _method: "DELETE"}
            }
            axios(config)
              .then( r => {
                this.getForm()
              })
              .catch( e => console.log(e)) 
            // console.log(id)
          },
          editForm: function(i){
            this.name = i.name
            this.address = i.address
            this.no_hp = i.no_hp
            this.buttonStatus = "update",
            this.idEditform = i.id
          },
          cancelForm: function(){
            this.name = ''
            this.address = ''
            this.no_hp = ''
            this.buttonStatus = 'submit'
            this.idEditform = null
            this.idUploadPhoto = null
          },
          updateForm: function(id){
            this.validationForm()
            if(this.errors.length === 0){
              const formData = new FormData()
              formData.append('name', this.name)
              formData.append('address', this.address)
              formData.append('no_hp', this.no_hp)

              let config = {
                method: 'post',
                url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                params: { _method: "PUT"},
                data: formData
              }
              axios(config)
                .then(r => {
                  this.getForm()
                  this.clearForm()
                })
                .catch(e => console.log(e))
            }
          },
          uploadPhoto: function(i){
            this.name = i.name
            this.address = i.address
            this.no_hp = i.no_hp
            this.buttonStatus = "upload",
            this.idUploadPhoto = i.id
          },
          submitPhoto: function(i){
            let file = this.$refs.photo_profile.files[0]
            let formData = new FormData()
            formData.append("photo_profile", file)

            let config = {
              method: 'post',
              url:`http://demo-api-vue.sanbercloud.com/api/member/${i}/upload-photo-profile`,
              data: formData
            }
            axios(config)
              .then(r => {
                this.cancelForm()

                this.getForm()
                
                alert(r.data.message)

              })
              .catch(e => console.log(e))
          }
          
        },
        created(){
          this.getForm()
        }    
      });
    </script>
  </body>
</html>
