<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta title="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz-2</title>
  </head>
  <body>
    <div id="todo-list-example">
      <form v-on:submit.prevent="addNewTodo">
        <input v-model="newTodoText" id="new-todo" />
        <button>Tambah</button>
      </form>
      <ul>
        <li is="todo-item" v-for="(todo, index) in daftarNama" v-bind:key="todo.id" v-bind:title="todo.title" v-on:remove="daftarNama.splice(index, 1)" v-on:edit=" daftarNama.id[index] = e.target.value"></li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      Vue.component("todo-item", {
        template: `
          <li>
          {{ title }}
          <button v-on:click="$emit('remove')">Remove</button>
          <button v-on:click="$emit('edit')">Edit</button>
          </li>
      `,
        props: ["title"],
      });

      new Vue({
        el: "#todo-list-example",
        data: {
          newTodoText: "",
          daftarNama: [
            {
              id: 1,
              title: "Muhammad Iqbal Mubarok",
            },
            {
              id: 2,
              title: "Ruby Purwanti",
            },
            {
              id: 3,
              title: "Faqih Muhammad",
            },
          ],
          nextTodoId: 4,
        },
        methods: {
          addNewTodo: function () {
            this.daftarNama.push({
              id: this.nextTodoId++,
              title: this.newTodoText,
            });
            this.newTodoText = "";
          },
        },
      });
    </script>
  </body>
</html>
