<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #app {
        margin: 0;
        margin: 50px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <p>Daftar nama buku</p>
      <input type="text" v-model="key" />
      <ol>
        <li v-for="b in pencarian(books)">{{b}}</li>
      </ol>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          key: "",
          books: ["Kalkulus Dasar", "Fisika Dasar", "Aljabar Linear Elementer", "Aljabar Abstrak", "Algoritma Pemrograman"],
        },
        methods: {
          pencarian: function (e) {
            return e.filter((item) => {
              return item.toLowerCase().indexOf(this.key.toLowerCase()) !== -1;
            });
          },
        },
      });
    </script>
  </body>
</html>
